$commonBackground: #2b2b2b;

body {
  margin: 0;
  padding: 0;
}

.background-shading {
  // get the background to 50% opacity
  background-color: rgba($commonBackground, 0.5);
}

.App {
  background-color: $commonBackground;
  color: aliceblue;
  padding-top: 1px;
}

.featurette-divider {
  margin: 5rem 0;
}

.featurette{
  img{
    width: 100%;
  }

  h2 {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
    font-size: 50px;
    margin-bottom: 15px;
  }
}

.imagette{
  h2{
    margin-top: 15px;
    margin-bottom: 5px;
  }
}


.main-title{
  text-align: center;
  font-size: 75px;
  padding: 20%;
  text-shadow: -5px -5px 0 #000, 5px -5px 0 #000, -5px 5px 0 #000, 5px 5px 0 #000;
}

.parallax {
  /* The image used */
  background-image: url("https://korben.info/app/uploads/2018/12/codes-coding-computer-270366.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-title{
  h1 {
    text-align: center;
    font-size: 50px;
    border-radius: 10px;
    border-top: aliceblue 2px solid;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 50px;
  }
}

/* Language card */
$pic-height: 256px;

.LC-image{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  horiz-align: center;
}

.language-card{
  div{
    //background-color: $commonBackground;
    color: $commonBackground;
    margin-bottom: 10px;
    border-color: aliceblue;
    border-width: 3px;
    min-width: 30%;
  }

  img{
    height: $pic-height;
    width: $pic-height
  }

  .body-card{
    margin-bottom: 0px;
  }
}

.language-card-overflow{
  overflow-x: scroll;
  max-height: 60%;
  max-width: 100%;
}

.rounded-pill{
  border: solid 2px;
  border-radius: 5px;
  width: min-content;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  margin-right: 10px;
  word-wrap: break-word;
}